<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ data.title }}</title>
    </head>
    <body>
        <h1>Hi, {{ data.user }}</h1>

        {% if data.is_admin %}
            <p>Admin</p>
        {% else %}
            <p>Not Admin</p>
        {% endif %}

        <ul>
            {% for item in data.item_list %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <h3>과제</h3>
        <ul>
            {% for user in users %}
            <li>{{ user.username }} - {{ user.name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
